@import '../../../components/style/themes/default.less';
@import '../../../components/style/mixins/index.less';

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 468px;
  background: @info-color;
  user-select: none;
  z-index: -1;
}

// Input status
// == when focus or actived
.active(@color: @outline-color) {
  border-right-width: @border-width-base !important;
  outline: 0;
  box-shadow: @input-outline-offset @outline-blur-size @outline-width
    fade(@info-color, 9%);
}

.login {
  &-wrapper {
    position: relative;
    max-width: 100%;
    margin: 128px 24px 40px;
    @media (min-width: @screen-sm-min) {
      position: relative;
      max-width: 424px;
      margin: 190px auto 40px;
    }
  }
  &-form {
    padding: 24px;
    background: #fff;
    border-radius: @border-radius-base;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    &-item {
      margin-top: 20px;
      & label {
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 22px;
        color: fade(@text-color, 65%);
        font-weight: @input-font-weight;
      }
    }
    .submit {
      text-align: right;
    }
    button[type='submit'] {
      position: relative;
      margin-top: 32px;
      margin-bottom: 8px;
      border-radius: @border-radius-sm;
      width: 120px;
      height: 36px;
      color: #fff;
      box-shadow: 0 8px 16px fade(@primary-color, 15%);
      background-color: @primary-color;
      border: solid 1px @primary-color;
      text-shadow: 0 2px 4px rgba(35, 45, 65, 0.2);
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease-in-out;
    }
  }
  &-header {
    position: relative;
    height: 100px;
    margin-top: 24px;
    user-select: none;
    & > h1 {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 40px;
      font-weight: normal;
      line-height: 56px;
      color: fade(@text-color, 85%);
      z-index: 99;
    }
    & > p {
      padding-left: 10px;
      margin-top: -5px;
      font-size: 14px;
      line-height: 20px;
      color: fade(@text-color, 65%);
      z-index: 99;
    }
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
      font-size: 100px;
      line-height: 100px;
      color: fade(@text-color, 4%);
    }
  }
}
